<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .footer{
      position: absolute;
      bottom: 0;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
      margin-left: -55px

    }

  </style>
  </head>
  <body>   
    	<div class="container">
    	<h1><%= title %></h1>
    	<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a id="title_bar" class="navbar-brand" href="/">Wakku Inbox</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="/requests">Requests</a></li>
		      <li><a href="#">Friends</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		    	<li><a id="user_profile" href="/#profile"><span class="glyphicon glyphicon-user"></span> <%= data.display_name %> </a></li>
      			<li><a href="/"><span class="glyphicon glyphicon-envelope"></span> <%= emails.length%></a></li>
      			<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
		     
		    </ul>
		  </div>
		</nav>	
    	</div>


 <div class="container">
    <!-- <button class="text-success"> <a style="text-decoration: none;" href="/new">  New Message </a> </button> <br><br> -->		
    <!-- <h2>Modal Example</h2> -->
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-envelope"></span> New Message</button> <br><br>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close btn-danger" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create New Message</h4>
          </div>
          <div class="jumbotron">
            <form method="post" action="/new">
              <div class="form-group">
                <label for="usr">From:</label>
                <input type="text" class="form-control" name="from" placeholder="<%= data.email%>" value="<%= data.email%>">
              </div>
              <div class="form-group">
                <label for="usr">To:</label>
                <input type="text" class="form-control" name="to" placeholder="Destination email" value="">
              </div>
              <div class="form-group">
                <label for="usr">Subject:</label>
                <input type="text" class="form-control" name="subject" placeholder="Email Subject" value="">
              </div>

              <div class="form-group">
                <label for="usr">From:</label>
                <textarea  class="form-control" name="msg" placeholder="Start typing here..."> </textarea> 
              </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button btn" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>
        
      </div>
    </div> 

</div>


<!-- End of Modal -->

<div id="email_list" class="container">
<table class="table table-hover" id="emails_table">
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>

    <% for(var i=0 ; i < emails.length ; i++) { %>
        <tr data-toggle="modal" data-target="#msg_body">
        <div class="modal fade" id="msg_body" role="dialog">
            <div class="modal-dialog">
        
          <!-- Modal content-->
           <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"> <%= emails[i].subject %></h4>
            </div>
            <div class="modal-body">
              <p><%= emails[i].body %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
      	<td><span class="glyphicon glyphicon-envelope">" " </span><%= emails[i].display_name %></td>
        <td><%= emails[i].dest %></td>
        <td><%= emails[i].subject %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<div id="profile" class="container">

  <div class="row">
        <div class="col-md-6">
    
         <div class="panel panel-default">
        <div class="panel-body">
                  <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2><%= data.display_name %></h2>
                            <p><strong>Email: </strong> <%= data.email %> </p>
                            <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                            
                        </div><!--/col-->          
                        <div class="col-xs-12 col-sm-4 text-center">
                                <img id='image' src="/images/photos/<%= data.display_name.replace(' ', '').toLowerCase() + '.jpg' %>" alt="" class="center-block img-thumbnail img-responsive" width="500" height="500">
                                <ul class="list-inline ratings text-center" title="Ratings">
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                        <form id="photo_upload" method="post" action="/upload" encType="multipart/form-data"> 
                          <label class="btn btn-info btn-block" for="my-file-selector">
                          <input name="photo" id="my-file-selector" type="file" style="display:none;">
                           <strong id="text"> Edit Profile Photo </strong>
                           </label>
                        </form>
                        </div>
                   </div><!--/row-->
              </div><!--/panel-body-->
          </div><!--/panel-->    
    </div>
  </div>



  <div id="profile2" class="container">

  <div class="row">
        <div class="col-md-6">
    
         <div class="panel panel-default">
        <div class="panel-body">
                  <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2><%= data.display_name %></h2>
                            <p><strong>Email: </strong> <%= data.email %> </p>
                            <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                            
                        </div><!--/col-->          
                        <div class="col-xs-12 col-sm-4 text-center">
                                <img id='image' src="/images/photos/<%= data.display_name.replace(' ', '').toLowerCase() + '.jpg' %>" alt="" class="center-block img-thumbnail img-responsive" width="500" height="500">
                                <ul class="list-inline ratings text-center" title="Ratings">
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                        <form id="photo_upload" method="post" action="/upload" encType="multipart/form-data"> 
                          <label class="btn btn-info btn-block" for="my-file-selector">
                          <input name="photo" id="my-file-selector" type="file" style="display:none;">
                           <strong id="text"> Edit Profile Photo </strong>
                           </label>
                        </form>
                        </div>
                   </div><!--/row-->
              </div><!--/panel-body-->
          </div><!--/panel-->    
    </div>
  </div>
  
</div>

<script type="text/javascript">
  $(function(){
    
    $('#profile').hide();
    $('#profile2').hide();
    $('#user_profile').click(function(){
        $('#email_list').hide(500);
        $('#profile').fadeIn(1500);
        // $('#profile2').fadeIn(900);
        setTimeout(function(){
        $('#profile2').fadeIn(1500);
      }, 900);
    });

    $('#my-file-selector').change(function(){
        $('#photo_upload').submit();
    });

});
</script>


  </body>
</html>
